body {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1 { 
    color: #410404; 
}
p {
    color: #ad4949;
}
h3 {
    color: #ad4949;
}
